debian-12.qcow2
cloud-init.iso
machines.txt
downloads
downloads_amd64_1.txt
downloads_amd64.txt
k8s
hosts
machines.txt
admin.crt
admin.csr
admin.key
admin.kubeconfig
ca.crt
ca.key
downloads
downloads_amd64_1.txt
downloads_amd64.txt
encryption-config.yaml
k8s
kube-api-server.crt
kube-api-server.csr
kube-api-server.key
kube-controller-manager.crt
kube-controller-manager.csr
kube-controller-manager.key
kube-controller-manager.kubeconfig
kube-proxy.crt
kube-proxy.csr
kube-proxy.key
kube-proxy.kubeconfig
kube-scheduler.crt
kube-scheduler.csr
kube-scheduler.key
kube-scheduler.kubeconfig
node-0.crt
node-0.csr
node-0.key
node-0.kubeconfig
node-1.crt
node-1.csr
node-1.key
node-1.kubeconfig
service-accounts.crt
service-accounts.csr
service-accounts.key
admin.crt
admin.csr
admin.key
admin.kubeconfig
ca.crt
ca.key
downloads
downloads_amd64_1.txt
downloads_amd64.txt
encryption-config.yaml
k8s
kube-api-server.crt
kube-api-server.csr
kube-api-server.key
kube-controller-manager.crt
kube-controller-manager.csr
kube-controller-manager.key
kube-controller-manager.kubeconfig
kube-proxy.crt
kube-proxy.csr
kube-proxy.key
kube-proxy.kubeconfig
kube-scheduler.crt
kube-scheduler.csr
kube-scheduler.key
kube-scheduler.kubeconfig
node-0.crt
node-0.csr
node-0.key
node-0.kubeconfig
node-1.crt
node-1.csr
node-1.key
node-1.kubeconfig
service-accounts.crt
service-accounts.csr
service-accounts.key
*.swp
