debian-12.qcow2
dirs.conf
*.iso
mngt/
machines.txt
/tmp
**/work*
*.swp
*.bak
*.log
*.bkp
**/certs
**/auth
**/log
downloads/
downloads_local/
scripts/support/parse_yaml.sh
**/cloud-init-lb.cfg
**/cloud-init-node.cfg
services/extras/jobicok8s/jobicok8s/ 
*drawio.bkp
