debian-12.qcow2
*.iso
machines.txt
/tmp
**/work*
*.swp
*.bak
*.log
**/certs
**/auth
**/log
**/cloud-init-lb.cfg
**/cloud-init-node.cfg
**/cloud-init-server.cfg
**/cloud-init-lb.cfg.bkp
**/cloud-init-node.cfg.bkp
**/cloud-init-server.cfg.bkp
