grafana:
  ingress:
    enabled: true
    hosts: 
      - grafana.{DOMAIN}
  sidecar:
    skipTlsVerify: true
    alerts:
      enabled: true
      searchNamespace: ALL
  additionalDataSources:
    - orgId: 1
      name: PrometheusTrace
      type: prometheus
      typeName: Prometheus
      typeLogoUrl: public/app/plugins/datasource/prometheus/img/prometheus_logo.svg
      access: proxy
      url: http://kube-prometheus-stack-prometheus.obs:9090/
      basicAuth: false
      isDefault: false
      uid: prometheustrace
      jsonData: 
          httpMethod: POST
          timeInterval: 30s
          exemplarTraceIdDestinations:
            - name: trace_id
              datasourceUid: tempo
      readOnly: true
    - orgId: 1
      name: loki
      type: loki
      typeName: Loki
      access: proxy
      url: http://loki-gateway.obs.svc.cluster.local/
      basicAuth: false
      isDefault: false
      uid: loki
      jsonData:
        httpHeaderName1: 'X-Scope-OrgID'
        derivedFields:
         - datasourceUid: tempo
           matcherRegex: ^.*?\\b\\w+,\\s*([^,]+)
           name: TraceID
           url: $${__value.raw}
      secureJsonData:
        httpHeaderValue1: 'jobico'
    - name: Tempo
      type: tempo
      access: proxy
      orgId: 1
      url: http://tempo.obs.svc.cluster.local:3100/ 
      basicAuth: false
      isDefault: false 
      version: 1
      editable: false
      apiVersion: 1
      uid: tempo
      jsonData:
        httpMethod: GET
        tracesToLogs:
            datasourceUid: 'loki'
    - orgId: 1
      name: "Pyroscope"
      type: "grafana-pyroscope-datasource"
      typeName: "Grafana Pyroscope"
      typeLogoUrl: "public/app/plugins/datasource/grafana-pyroscope-datasource/img/grafana_pyroscope_icon.svg"
      access: "proxy"
      url: "http://pyroscope.obs.svc.cluster.local:4040"
      basicAuth: false
      isDefault: false
      editable: false