apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-http-ingress
  namespace: argocd
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              name: http
    host: argocd.{DOMAIN}
  tls:
  - hosts:
    - argocd.{DOMAIN}
    secretName: {DOMAIN}-secret 
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-grpc-ingress
  namespace: argocd
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              name: https
    host: grpc.argocd.{DOMAIN}
  tls:
  - hosts:
    - grpc.argocd.{DOMAIN}
    secretName: {DOMAIN}-secret 
