#cloud-config
preserve_hostname: false
manage_etc_hosts: false
ssh_pwauth: false
disable_root: false
users:
- name: debian
  hashed_passwd: {PWD_DEBIAN}
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  {DEBIAN_KEYS}
- name: root
  hashed_passwd: {PWD_ROOT}
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  {ROOT_KEYS}

package_update: true

packages:
  - wget
  - curl
  - openssl
  - socat 
  - conntrack 
  - ipset
  - qemu-guest-agent
  - chrony
write_files:
  - path: /etc/modules-load.d/k8s.conf
    content: |
      overlay
      br_netfilter
      kvm
      vhost_net
  - path: /etc/modules-load.d/tun.conf
    content: |
      tun
  - path: /etc/systemd/resolved.conf.d/jobico.conf
    content: |
      [Resolve]
      DNS=192.168.122.23
      Domains=~jobico.local
  - path: /etc/chrony/chrony.conf
    content: |
      pool 2.debian.pool.ntp.org iburst
      driftfile /var/lib/chrony/drift
      makestep 1.0 -1
      rtcsync
  - path: /etc/systemd/system/time-resync-on-resume.service
    content: |
      [Unit]
      Description=Force NTP time step after VM resume
      After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

      [Service]
      Type=oneshot
      ExecStart=/usr/bin/chronyc makestep

      [Install]
      WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target    

runcmd:
 - modprobe overlay
 - modprobe br_netfilter
 - modprobe kvm
 - modprobe tun
 - modprobe vhost_net
 - systemctl restart systemd-resolved
 - systemctl daemon-reload
 - systemctl enable --now qemu-guest-agent
 - systemctl enable --now chrony
 - systemctl enable --now time-resync-on-resume.service
