#cloud-config
preserve_hostname: false
manage_etc_hosts: false
ssh_pwauth: false
disable_root: false
users:
- name: debian
  hashed_passwd: $6$rounds=4096$SALT12345678$l5SWsfvHR6txXClqG.0QM7QiJVD/ADBGPlNuBHZ0UkncVmc6tlLw7R4dDERl3IpFInQGOf5MZVqRqtTN/2BHK.
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBIH58gelaML7YVDHGYKPi3cYBGTgCeyUFMIOPtloz/x
- name: root
  hashed_passwd: $6$rounds=4096$SALT12345678$l5SWsfvHR6txXClqG.0QM7QiJVD/ADBGPlNuBHZ0UkncVmc6tlLw7R4dDERl3IpFInQGOf5MZVqRqtTN/2BHK.
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBIH58gelaML7YVDHGYKPi3cYBGTgCeyUFMIOPtloz/x 
packages:
  - wget
  - curl
  - openssl
  - socat 
  - conntrack 
  - ipset
write_files:
 - path: /etc/modules-load.d/k8s.conf
   content: |
    br_netfilter
 - path: /etc/systemd/resolved.conf.d/jobico.conf
   content: |
    [Resolve]
    DNS=192.168.122.23
    Domains=jobico.org
   permissions: '0644'
runcmd:
 - modprobe br_netfilter
 - systemctl restart systemd-resolved
