#cloud-config
hostname: template-debian-12
manage_etc_hosts: true
ssh_pwauth: false
disable_root: false
users:
- name: debian
  hashed_passwd: [PASSWORD_USER_DEBIAN]
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  [AUTH_KEYS_USER_DEBIAN]
- name: root
  hashed_passwd: [PASSWORD_USER_ROOT]
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock-passwd: false
  ssh_authorized_keys:
  [AUTH_KEYS_USER_ROOT]
packages:
  - wget
  - curl
  - openssl
  - socat 
  - conntrack 
  - ipset
