image:
  tag: "v4.11.0"
tools:
  kubectl:
    image:
      tag: "1.36.2"
setupJob:
  machinekeyWriter:
    image:
      repository: alpine/k8s
      tag: "1.36.2"
replicaCount: 1
zitadel:
  masterkey: x123456789012345678901234567891y
  debug:
    enabled: false 
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: id.{DOMAIN} 
    ExternalPort: 443
    FirstInstance:
      Org:
        Human:
          Username: 'admin'
          Password: 'Jobico1!'
    TLS:
      Enabled: false
    Database:
      Postgres:
        Host: cluster-jobico-rw
        Port: 5432
        Database: zitadel
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: postgres
          SSL:
            Mode: disable
        Admin:
          Username: postgres
          SSL:
            Mode: disable
  secretConfig:
    Database:
      Postgres:
        User:
          Password: postgres
        Admin:
          Password: postgres
ingress:
  enabled: true
  # className: traefik
  hosts:
    - host: id.{DOMAIN}
      paths:
        - path: /
          pathType: Prefix

login:
  image:
    tag: "v4.11.0"
  customConfigmapConfig: |
    ZITADEL_SERVICE_USER_TOKEN_FILE="/login-client/pat"
    ZITADEL_API_URL="http://my-zitadel:8080"
    CUSTOM_REQUEST_HEADERS="Host:id.{DOMAIN},x-zitadel-public-host:id.{DOMAIN}"
  ingress:
    enabled: true
    hosts:
      - host: id.{DOMAIN}
        paths:
          - path: /ui/v2/login
            pathType: Prefix