https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kubectl
https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kube-apiserver
https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kube-controller-manager
https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kube-scheduler
https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kube-proxy
https://storage.googleapis.com/kubernetes-release/release/{rel-k8s}/bin/linux/{platform}/kubelet
https://github.com/kubernetes-sigs/cri-tools/releases/download/{rel-cri}/crictl-{rel-cri}-linux-{platform}.tar.gz##crictl.tar.gz
https://github.com/opencontainers/runc/releases/download/{rel-runc}/runc.{platform}
https://github.com/containernetworking/plugins/releases/download/{rel-cni}/cni-plugins-linux-{platform}-{rel-cni}.tgz##cni-plugins.tgz
https://github.com/containerd/containerd/releases/download/v{rel-containerd}/containerd-{rel-containerd}-linux-{platform}.tar.gz##containerd.tar.gz
https://github.com/etcd-io/etcd/releases/download/{rel-etcd}/etcd-{rel-etcd}-linux-{platform}.tar.gz##etcd.tar.gz
