admin role gencert genkubekonfig
kube-proxy component gencert genkubekonfig
kube-scheduler component gencert genkubekonfig
kube-controller-manager component gencert genkubekonfig
kube-api-server component gencert genkubekonfig
service-accounts role gencert genkubekonfig
